{% load staticfiles %}

<!DOCTYPE html>

<html>

	<head>
		<title>Form Jadwalku</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jadwalku.css' %}">
	</head>

	<body>

		<div class="page-header">
            <h1 id="header-text"><a href="/">Form Jadwalku</a></h1>
        </div>

        <div class="content container" id="form">
            <div class="row">
                <div class="col-md-8">
                    <h1>Kegiatan Baru</h1>
    				<form method="POST" class="post-form">{% csrf_token %}
        				{{ form.as_p }}
        				<button type="submit" class="save btn btn-success">Save</button>
    				</form>
                </div>
            </div>
        </div>

        <div class="content container table-responsive">
			<table class="table">
				<thead>
			      <tr>
			        <th>Nama Kegiatan</th>
			        <th>Tanggal Kegiatan</th>
			        <th>Waktu Kegiatan</th>
			        <th>Tempat Kegiatan</th>
			        <th>Kategori Kegiatan</th>
			      </tr>
			    </thead>
			    <tbody>
			    	{% for event in kegiatan %}
			      <tr>
			        <td>{{ event.nama_kegiatan }}</td>
			        <td>{{ event.tanggal_kegiatan }}</td>
			        <td>{{ event.waktu_kegiatan }}</td>
			        <td>{{ event.tempat_kegiatan }}</td>
			        <td>{{ event.kategori_kegiatan }}</td>
			      </tr>
			    	{% endfor %}
			    </tbody>
			</table>
			<form action="delete/" method="POST">{% csrf_token %}
			<button type="submit" class="btn btn-danger">Delete All</button>
			</form>	
        </div>

	</body>
	
</html>	